
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rock+Salt&display=swap');

:root {
  --background: #ffffff;
  --foreground: #121212;
  --primary: #1976d2;
  --primary-light: #63a4ff;
  --primary-dark: #004ba0;
  --secondary: #9c27b0;
  --secondary-light: #d05ce3;
  --secondary-dark: #6a0080;
  --error: #d32f2f;
  --error-light: #ff6659;
  --error-dark: #9a0007;
  --warning: #ed6c02;
  --warning-light: #ff9d3f;
  --warning-dark: #b53d00;
  --info: #0288d1;
  --info-light: #5eb8ff;
  --info-dark: #005b9f;
  --success: #2e7d32;
  --success-light: #60ad5e;
  --success-dark: #005005;
  --font-geist-sans: 'new-geist-sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.oslLogo {
  margin-left: 2rem;
  transition: all 0.3s ease;
}

.oslLogo:hover {
  transform: scale(1.05);
}
